<!DOCTYPE html>

<html>
<head>
    <title>404</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{error}}</p>
    </div>
    {{>footer}}
</body>
</html>