<!DOCTYPE html>

<html>
<head>
    <title>Help</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="/js/app.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
    </div>
    {{>footer}}
</body>
</html>